<style>
    #mapDiv {
        background-image: url("app/view1/images/clean-map.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        width:100%;
    }

    .shop {
        position: absolute;
        font-size: 0.7vw;
        cursor: pointer;
    }

</style>


</head>
<body>
    <div class="container">
        <form class="form-horizontal" ng-submit="saveShop(selectedShop)">
            <fieldset>
                <div class="col-xs-4">
                    <input type="text" ng-click="placeShopMode()" ng-model="selectedShop.name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="col-xs-2">
                    <input type="text" ng-model="selectedShop.x" class="form-control" id="x" placeholder="x"> 
                </div>
                <div class="col-xs-2">
                    <input type="text" ng-model="selectedShop.y" class="form-control" id="y" placeholder="y">
                </div>
                <div class="col-xs-2">
                    <input type="text" ng-model="selectedShop.angle" class="form-control" id="angle" placeholder="degrees">
                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-primary">{{buttonText}}</button>
                </div>
            </fieldset>
        </form>
    </div>



    <div id="mapDiv" map-dir="">
        <div  ng-repeat="shop in shops"> <!-- | filter: selectedShop.name -->
            <span draggable ng-click="selectShop(shop)" class="shop" style="left: {{shop.x}}%; top: {{shop.y}}%; 
                  -webkit-transform: rotate({{shop.angle}}deg); 
                  -moz-transform: rotate({{shop.angle}}deg); 
                  -o-transform: rotate({{shop.angle}}deg);
                  transform: rotate({{shop.angle}}deg);">{{shop.name}}</span>
        </div>
    </div>


