<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" value="Number of Shops: {{shops.length}}" readonly>
            </div>
            <div class="col-md-8">
                <input type="search" class="form-control" ng-model="shopfilter" placeholder="Filter shops">
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CATEGORY</th>
                    <th>NAME</th>
                    <th>USER</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="editShop(shop)" ng-repeat="shop in shops| filter: shopfilter">
                    <td>{{shop.id}}</td>
                    <td>{{shop.category| categoryfilter }}</td>
                    <td>{{shop.name}}</td>
                    <td>{{shop.user.userName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
