<style>
    #mapDiv {
        background-image: url("app/home/images/clean-map.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        width:100%;
    }

    .shop {
        position: absolute;
        font-size: 0.7vw;
        cursor: pointer;
    }
    
    .dot {
        width: 1.5%; 
        height: 1.5%; 
        opacity: 0.5; 
        filter: alpha(opacity=50);
    }

</style>
</head>
<body>

    <div id="mapDiv" map-dir="">
        <div  ng-repeat="shop in shops">
            <span ng-click="showDialog(shop)" class="shop" style="left: {{shop.x}}%; top: {{shop.y}}%; 
                  -webkit-transform: rotate({{shop.angle}}deg); 
                  -moz-transform: rotate({{shop.angle}}deg); 
                  -o-transform: rotate({{shop.angle}}deg);
                  transform: rotate({{shop.angle}}deg);">{{shop.name}}</span>
        </div>
        <span ng-controller="LocationController"  id="mapPos" style="left: {{geolocation.mapPosition.css_pos.left}}; top: {{geolocation.mapPosition.css_pos.top}};">
            <img class="img-responsive" ng-src="app/home/images/dot.png" id="dot"/>
        THIS DEMONSTRATES THAT WE CAN GET LONG&LAT FROM THE NEW LOCATION SERVICE
            <h1>Advanced (fetch once)</h1>
            Latitude: {{geolocation.position.coords.latitude}}
            <br />
            Longitude: {{geolocation.position.coords.longitude}}
            <br />
            Timestamp: {{geolocation.position.timestamp | date}}
            <br />
            css_pos Left: {{geolocation.mapPosition.css_pos.left}}
            <br />
            css_pos Top: {{geolocation.mapPosition.css_pos.top}}
        </span>
    </div>



