<style>
    #mapDiv {
        background-image: url("app/home/images/clean-map.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        width:100%;
    }

    .shop {
        position: absolute;
        font-size: 0.7vw;
        cursor: pointer;
    }

    .dot {
        width: 1vw;
        opacity: 0.5; 
        filter: alpha(opacity=50);
    }

    .yourPos {
        position: absolute;
        font-size: 1vw;
        white-space: nowrap;
    }

</style>
</head>
<body>

    <div id="mapDiv" map-dir="">
        <div  ng-repeat="shop in shops">
            <span ng-click="showDialog(shop)" class="shop" style="left: {{shop.x}}%; top: {{shop.y}}%; 
                  -webkit-transform: rotate({{shop.angle}}deg); 
                  -moz-transform: rotate({{shop.angle}}deg); 
                  -o-transform: rotate({{shop.angle}}deg);
                  transform: rotate({{shop.angle}}deg);">{{shop.name}}</span>
        </div>
        <div ng-controller="LocationController" class="yourPos" style="left: {{geolocation.mapPosition.css_pos.left}}%; top: {{geolocation.mapPosition.css_pos.top}}%;">
            <img class="dot" ng-src="app/home/images/dot.png"/>
            <span>You are {{geolocation.mapPosition.dist| distMeter}}m from {{geolocation.mapPosition.name}}</span>
        </div>
    </div>


